{{template "header"}}
		<title>{{.Topic.Title}} - 我的beego博客</title>
	</head>
	<body>
		<!-- <div class="navbar navbar-default navbar-fixed-top"> -->
		<div class="navbar navbar-default">
			<div class="container">
				{{template "navbar" .}}
			</div>
		</div>
		<div class="container">
			<h1>{{.Topic.Title}}<a href="/topic/modify?tid={{.Tid}}" class="btn btn-default">修改文章</a></h1>
			{{.Topic.Content}}
		</div>
	<script type="text/javascript" scr="/static/js/bootstrap.min.js"></script>
	</body>
</html>